<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="crawler" class="spring.webcrawler.HttpClientImpl">
    </bean>
    
    <bean id="parser" class="spring.webcrawler.HttpParserImpl">
    	<property name="indexCreator" ref="indexCreator"></property>
    </bean>
    
    <bean id="indexCreator" class="spring.webcrawler.IndexingImpl">
    </bean>
    
    <bean id="search" class="spring.webcrawler.SearchImpl">
    </bean>
    
    <bean id="spider" class="spring.webcrawler.SpiderImpl">
    	<property name="crawler" ref="crawler"></property>
    	<property name="parser" ref="parser"></property>
    </bean>
    
</beans>